:global(.vtex-store__template) {
    --font-header-color: #54595f;
    --font-header-color--secondary: #818a91;
    --font-primary-color: #011029;
    --font-secondary-color: #FFFFFF;
    --font-terciary-color: #3a3a3a;
    --hover-header-color: #D61D1D;
    --hover-primary-color: #011029;
    --hover-secondary-color: #FFFFFF;
    --global-color-secondary: #262a2b;
}