.sliderLayoutContainer--home__slider {
    padding: .85em .6em;
}

.paginationDotsContainer--home__slider {
    margin-bottom: 1.5em;
}

.paginationDot--home__slider {
    width: 2px !important;
    height: 2px !important;
    background-color: #000;
    opacity: .2;
}

.paginationDot--home__slider::selection {
    cursor: pointer;
    background-color: #000 !important;
    opacity: 1 !important;
}

.paginationDot--home__slider:hover {
    cursor: pointer;
    background-color: #000 !important;
    opacity: 1 !important;
}