.flexRow--home__video {
    margin: 3em 0;
    padding: 0;
}

/* .stretchChildrenWidth {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 66.9em;
    position: absolute;
    z-index: 999;
    overflow: hidden;
} */