.wrapper--footer__tittle {
    margin-bottom: 1.4em;
}

.paragraph--more__about {
    margin: 0;
}

.paragraph--footer__tittle {
    color: var(--hover-header-color);
    font-size: 1.3333333333333rem;
    font-weight: 400;
}

.paragraph--more__about {
    color: #fafafa;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

.paragraph--red__about {
    color: var(--font-terciary-colo);
    font-size: 1.3333333333333rem;
    font-weight: 400;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .paragraph--more__about {
        font-size: 88%;
    }

    .paragraph--red__about {
        font-size: 88%;
    }

    .container--footer__tittle {
        height: max-content;
    }

    .wrapper--footer__tittle {
        margin: 0;
        padding: 0;
    }

    .paragraph--footer__tittle {
        margin: 0;
        padding: 0;
    }

    .paragraph--footer__tittle {
        margin-bottom: 1em;
    }
}