/* Desktop */
.paragraph--text__1 {
    margin: .4em 0 !important;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 1.6px;
    word-spacing: 0px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    mix-blend-mode: exclusion;
}

.paragraph--text__2 {
    margin: .4em 0 !important;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 1.6px;
    word-spacing: 0px;
}

.paragraph--text__3 {
    margin: .4em 0 !important;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 1.6px;
    word-spacing: 0px;
}

/* Tablet */
@media screen and (min-width: 500px) and (max-width: 900px) {
    .paragraph--text__1 {
        font-size: 35px;
    }

    .paragraph--text__2 {
        font-size: 25px;
        font-weight: 200
    }

    .paragraph--text__3 {
        font-size: 30px;
    }
}