.inlineContainer {
    justify-content: left;
}

.star--empty {
    color: #000000 !important;
}

.star--filled {
    color: #000000 !important;
}

.star {
    color: #000000 !important;
}

.stars {
    color: #000000 !important;
}