.container--text__one--login {
    font-size: 1.625rem;
    color: #3a3a3a;
    font-weight: 400;
}

.container--text__two--login {
    font-size: 1.625rem;
    color: #3a3a3a;
    font-weight: 400;
}