/* Desktop */
.flexRow--minicart__row--desktop {
    border-bottom: 1px solid #d4d4d4;
}

.flexRowContent--minicart__row--desktop {
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.flexRowContent--minicart__row--desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    justify-content: left;
    width: max-content !important;
}

.flexCol--minicart__col--image {
    width: max-content !important;
    margin-right: 2rem;
}

.flexCol--minicart__col--info {
    width: 100% !important;
}

.flexCol--minicart__col--info :global(.vtex-product-list-0-x-productName) {
    font-size: 14px;
    color: #e2312f;
}

.flexRowContent--minicart__info :global(.vtex-product-list-0-x-productQuantityLabel) {
    font-size: 14px;
    color: #d4d4d4;
}

.flexRowContent--minicart__info :global(.vtex-product-list-0-x-price) {
    font-size: 14px;
    color: #d4d4d4;
}

.flexRowContent--minicart__info :global(.vtex-product-list-0-x-removeButtonContainer) {
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.flexRowContent--minicart__info :global(.vtex-product-list-0-x-currencyContainer) {
    font-size: 11px;
    color: #d4d4d4;
}

.flexRowContent--minicart__info :global(.vtex-product-list-0-x-productPriceContainer) {
    margin: 0 .4rem;
}

.flexColChild--minicart__col--info {
    display: inline-table !important;
}

.flexColChild--minicart__footer :global(.vtex-minicart-2-x-minicartSummary) {
    padding: .2rem 1.5rem;
    border-bottom: 1px solid #d4d4d4;
}

.flexColChild--minicart__footer {
    padding: .4rem 1.2rem;
}

.flexColChild--minicart__footer :global(.vtex-store-link-0-x-link--minicart__cart) {
    width: 100% !important;
    padding: 1rem 0;
    border: none;
    background-color: #818a91;
    border-radius: 2px;
}

.flexColChild--minicart__footer :global(.vtex-button__label) {
    padding: 0 !important;
}