/* Desktop */
.menuContainerNav--department__shop {
    margin: 0 !important;
    padding: 0;
}

.menuContainerNav--department__acount {
    margin: 0 !important;
    padding: 0;
}

.menuItem--department__shop {
    padding: 1.21rem 0;
}

.menuItem--department__shop--isOpen {
    border-bottom: 3px solid var(--hover-header-color);
}

.menuItem--department__acount {
    padding: 1.21rem 0;
}

.menuItem--department__acount--isOpen {
    border-bottom: 3px solid var(--hover-header-color);
}

.menuItem--department__service {
    padding: 1.21rem 0;
}

.menuItem--department__service--isOpen {
    border-bottom: 3px solid var(--hover-header-color);
}

.menuItem--department__about-us {
    padding: 1.21rem 0;
}

.menuItem--department__about-us--isOpen {
    border-bottom: 3px solid var(--hover-header-color);
}

.styledLinkContent--category {
    display: flex;
    justify-content: left;
}

.styledLinkContent:hover {
    color: var(--hover-header-color) !important;
}

.styledLinkIcon {
    display: flex;
    align-items: center;
    padding-left: .4rem;
}

.styledLinkIcon:hover {
    color: var(--hover-header-color) !important;
}

.submenuWrapper {
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.submenuWrapper--submenudepartment__shop {
    margin-top: 19%;
}

.styledLinkContent--department__shop {
    color: var(--font-header-color);
    font-size: 14px;
}

.submenuWrapper--department__acount {
    margin-top: 16%;
}

.styledLinkContent--department__acount {
    color: var(--font-header-color);
    font-size: 14px;
}

.styledLinkContent--department__service {
    color: var(--font-header-color);
    font-size: 14px;
}

.styledLinkContent--department__about-us {
    color: var(--font-header-color);
    font-size: 14px;
}

.submenuWrapper {
    padding: 0;
    width: max-content;
}

.submenuWrapper--category__step--isOpen {
    margin-left: 18.2rem;
}

.menuContainerNav--category__step {
    margin: 0 !important;
}

.submenuWrapper--category__accumulation--isOpen {
    margin-left: 18.2rem;
}

.menuContainerNav--category__accumulation {
    margin: 0 !important;
}

.menuItem--category {
    padding: .6rem;
}

.styledLinkContent--category {
    color: black;
    font-size: 16px;
}


/* Mobile */
@media screen and (min-width: 250px) and (max-width: 599px) {
    .accordionIcon {
        display: none;
    }

    .menuContainer {
        width: 100% !important;
    }

    .styledLinkContainer--department__shop {
        display: -webkit-box !important;
    }

    .styledLinkContainer--department__acount {
        display: -webkit-box !important;
    }

    .styledLinkContainer {
        display: flex !important;
        justify-content: center;
    }

    .submenuAccordion {
        justify-content: center;
    }

    .styledLinkContent {
        color: var(--font-header-color);
        font-size: 14px;
    }
}