.container {
    width: 40px;
    background-color: #818a91;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.container:hover {
    background-color: black !important;
}

container :global(.vtex-button):focus,
.container :global(.vtex-button):hover {
    background-color: transparent;
}