.wrapper--phone {
    margin: 0 1rem;
    color: var(--font-secondary-color);
    font-size: 13px;
}

.link--email {
    margin-left: 1rem;
    color: var(--font-secondary-color);
    font-size: 12px;
    text-decoration: none;
}

.paragraph--working__hours {
    margin-left: 1rem;
    color: var(--font-secondary-color);
    font-size: 12px;
    text-decoration: none;
}