/* Desktop */
.specificationItemProperty--product__additional {
    width: 11rem;
    font-size: 15px;
    font-weight: 600;
    color: #515151;
    border-top: .5px solid;
    border-bottom: .5px solid;
    border-left: 1px solid;
    border-right: .5px solid;
    border-color: #dddddd;
    display: flex;
    align-items: center;
}

.specificationItemSpecifications--product__additional {
    width: 100%;
    font-size: 15px;
    color: #515151;
    border-top: .5px solid;
    border-bottom: .5px solid;
    border-right: 1px solid;
    border-color: #dddddd;
}

.specificationsTableRow--product__additional {
    align-items: inherit !important;
}