/* Desktop */
.container--shipments {
    width: 100%;
    border-top: 2px solid var(--font-primary-color);
    border-bottom: 2px solid var(--font-primary-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.paragraph--shipments {
    font-weight: 500;
    font-style: italic;
    font-size: 29px;
    color: var(--font-terciary-color);
}


/* Mobile */
@media screen and (min-width: 250px) and (max-width: 599px) {
    .paragraph--shipments {
        padding: 0 1rem;
    }
}